:root {
  --primary-color: rgb(49, 98, 141);
  --secondary-color: rgb(145, 25, 21);
  --third-color: rgb(158, 202, 226);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --social-link-color: rgb(76, 110, 245);
}
body {
  padding-top: 100px;
  padding-bottom: 50px;
}
.hero {
  display: block;
  text-align: center;
  background-image: linear-gradient(var(--third-color), white);
  color: var(--primary-color);
}
.navbar-wrapper {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
  background-color: white;
}
.nav-link {
  border: 1px var(--primary-color) solid;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: larger;
}
.nav-link:hover,
.nav-link.active {
  color: var(--secondary-color) !important;
}
.alt-nav-link {
  background-color: whitesmoke;
}

h2 {
  text-align: center;
  padding-top: 10px;
  margin-top: 100px;
  color: var(--secondary-color);
}
h4 {
  text-align: center;
  margin: 0 20px;
  color: var(--primary-color);
}
.action-link {
  display: block;
  color: white;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}
.action-link.home {
  width: 80%;
}
.action-link-wrapper {
  align-self: center;
  justify-self: center;
}
.action-link-row {
  justify-content: flex-end;
  margin: 30px;
}
.action-link.blog {
  width: 20%;
}
.action-link.events {
  width: 80%;
}
.action-link:hover {
  color: var(--third-color);
}
.homepage-content {
  font-size: 20px;
  text-align: center;
}
.blog-content.bottom {
  padding: 12px;
}
.contact {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.contact-icon {
  font-size: 30px;
  margin: 0 15px;
  color: var(--social-link-color);
  padding: 5px;
  border-radius: 20px;
}
.contact-icon:hover {
  color: white;
  background: var(--social-link-color);
}

.source-links {
  font-family: monospace;
  font-size: 16px;
  margin-top: 40px;
  display: block;
  text-align: center;
  line-height: 1;
}
.contact-link {
  text-decoration: none;
  color: black;
}
.contact-link:hover {
  color: var;
  color: var(--social-link-color);
}
.source-icon {
  font-size: 25px;
  padding: 5px;
  border-radius: 20px;
}
.source-icon:hover {
  background-color: whitesmoke;
}
.team-cell {
  margin: 50px;
}

.team-text {
  display: block;
  text-align: center;
  margin: 5px 20px;
  line-height: 1;
}
.team-content {
  padding: 0px 60px;
}
.team-image {
  padding: 0px;
}
.event {
  margin: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.contact-link {
  font-size: 20px;
}
@media (min-width: 900px) {
  .blog-content {
    margin-top: 40px;
    font-size: 18px;
  }
  .blog-image {
    margin-top: 40px;
  }
}
@media (max-width: 990px) {
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 18px !important;
    margin-top: 60px;
  }
  h3 {
    font-size: 16px !important;
  }
  h4 {
    font-size: 16px;
  }
  .nav-link {
    border: 0;
    text-align: left;
  }
  .alt-nav-link {
    background-color: transparent;
  }
  .action-link-row {
    margin: 20px;
    justify-content: center;
  }
  .action-link {
    padding: 5px;
    font-size: 10px;
    margin: 0px, 0px;
  }
  .source-links {
    font-size: smaller;
  }
  .homepage-content {
    font-size: 12px !important;
    text-align: center;
  }
  .blog-content {
    width: 100%;
    font-size: smaller;
    justify-content: center;
    margin: 0 !important;
  }

  .team-text {
    margin: 5px 5px;
  }
  .contact-icon {
    font-size: 20px;
    margin: 0 10px;
  }
  .contact-link {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 18px !important;
  }
  h2 {
    font-size: 16px !important;
  }
  h3 {
    font-size: 12px !important;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  .nav-link {
    font-size: 12px;
  }
  .action-link {
    font-size: 8px;
  }
  .event {
    margin: 5px;
  }
  .action-link.events {
    padding: 0px;
    width: 100%;
  }
  .team-content {
    padding: 0px 0px;
  }
}
